<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
</head>
<body>
<!-- 搜索条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>

<form th:action="@{/auth/product/selectiveProduct}" class="layui-form" method="post" id="queryForm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">编号:</label>
            <div class="layui-input-inline">
                <input type="text" name="id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">商品名:</label>
            <div class="layui-input-inline">
                <input type="text" name="productName" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">价格范围</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="minPrice" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid">-</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="maxPrice" placeholder="￥" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始时间:</label>
            <div class="layui-input-inline">
                <input type="text" name="startTime" id="startTime" readonly="readonly" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间:</label>
            <div class="layui-input-inline">
                <input type="text" name="endTime" id="endTime" readonly="readonly" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    </div>
    <div class="layui-form-item" style="text-align: center;">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-search"
                    id="doSearch">查询
            </button>
            <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh">重置</button>
        </div>
    </div>
</form>

<!-- 搜索条件结束 -->

<!-- 数据表格开始 -->
<table class="layui-hide" id="userTable" lay-filter="userTable">
</table>

<div style="display: none;" id="userToolBar">
    <button type="button" class="layui-btn layui-btn-sm" lay-event="add">增加</button>
    <button type="button" class="layui-btn layui-btn-sm" lay-event="batchDelete">批量删除</button>
</div>

<!--	表格操作-->
<div style="display: none;" id="userBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="up">上架</a>
    <a class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="down">下架</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="viewBigPic">查看大图</a>
</div>
<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->
<div style="display: none; padding: 20px" id="saveOrUpdateDiv">
    <form class="layui-form " action="" lay-filter="dataFrm" id="dataForm">
        <input type="hidden" name="productId">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">商品名称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="productName" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">类别:</label>
                <div class="layui-input-inline">
                    <select name="productCategoryId" lay-filter="productCategoryId" id="productCategoryId">

                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">优先级:</label>
                <div class="layui-input-inline">
                    <input type="text" name="priority" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">积分:</label>
                <div class="layui-input-inline">
                    <input type="text" name="point" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">原价:</label>
                <div class="layui-input-inline">
                    <input type="text" name="normalPrice" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">现价:</label>
                <div class="layui-input-inline">
                    <input type="text" name="promotionPrice" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-upload">
                <div class="layui-upload-list" id="imgAddrDiv">
                    <button type="button" class="layui-btn">上传缩略图</button>
                    <img class="layui-upload-img thumbImg" id="showProductImg" style="width: 100px">
                    <!-- 保存当前显示图片的地址 -->
                    <input type="hidden" name="imgAddr" id="imgAddr">
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">商品描述:</label>
            <div class="layui-input-block">
                <textarea name="productDesc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>

        <input name="shopId" type="hidden">
    </form>


</div>
<!-- 添加和修改的弹出层结束 -->

<script th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use(['jquery', 'layer', 'form', 'table', 'laydate','upload'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var context = [[@{/}]];
        //绑定时间选择器
        laydate.render({
            elem: '#startTime'
        });
        laydate.render({
            elem: '#endTime'
        })
        //条件查询
        $("#doSearch").click(function () {

            var param = $("#queryForm").serialize();
            alert(param)
            tableIns.reload({
                url: context + "auth/product/selectiveProduct?" + param
            })
        });


        //渲染数据表格
        tableIns = table.render({
            elem: '#userTable'
            , url: context + 'auth/product/selectiveProduct'
            , toolbar: '#userToolBar'
            , title: '商品列表'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'productId', title: 'ID', width: 80, fixed: 'left', unresize: true, sort: true}
                    , {field: 'productName', title: '商品名称', width: 120, edit: 'text'}
                    , {field: 'productDesc', title: '商品描述', width: 150, edit: 'text', templet: function (res) {
                        return "<img width=40 height=30 src="+context+"auth/file/downloadShowFile?path="+d.imgAddr+" />"
                    }}
                    , {field: 'normalPrice', title: '原价', width: 100, sort: true}
                    , {field: 'promotionPrice', title: '促销价', width: 100}
                    , {field: 'createTime', title: '创建时间', width: 300}
                    , {field: 'enableStatus', title: '状态', width: 150, sort: true,align:'center',templet:function(d){
                        return d.enableStatus=='1'?'下架':'上架';
                    }}
                    , {field: 'point', title: '积分', width: 120}
                    , {fixed: 'right', title: '操作', toolbar: '#userBar', width: 300}
                ]
            ]
            , page: true
        });


        //监听头部工具栏事件
        table.on("toolbar(userTable)", function (obj) {
            switch (obj.event) {
                case 'add':
                    openAddUser();
                    break;
                case 'batchDelete':
                    layer.msg('批量删除');
                    break;
            }
            ;
        })

        var url;
        var mainIndex;

        //打开添加页面
        function openAddUser() {
            mainIndex = layer.open({
                type: 1,
                title: '添加用户',
                content: $("#saveOrUpdateDiv"),
                area: ['800px'],
                btnAlign: 'c',
                btn: ['<div class="layui-icon layui-icon-release">保存</div>', '<div class="layui-icon layui-icon-close">关闭</div>'],
                yes: function (index, layero) {
                    saveProduct();
                    layer.msg("保存");

                },
                btn2: function (index, layero) {
                    layer.msg("关闭");
                    return true;
                },
                success: function (index) {
                    var $productCategoryId = $("#productCategoryId");
                    form.val("dataForm", data);
                    //清空下拉菜单
                    $productCategoryId.empty();
                    //发送请求，加载当前店铺下的商品类别
                    $.getJSON(context + "auth/productCategory/list", function (datax) {
                        //填充新增页面的下拉框
                        $(datax.data).each(function () {
                            // selected='"+this.productCategoryId==data.productCategoryId?selected:" "+"'
                            $productCategoryId.append("<option value='" + this.productCategoryId + "'>" + this.productCategoryName + "</option>");
                        })
                    })
                    $("#showProductImg").attr("src", context + "auth/file/downloadShowFile?path=" + data.imgAddr);
                    url = context + "auth/product/updateProduct";
                    $("#productId").attr("readonly", "readonly");
                }
            });
        }

        function saveProduct() {
            var params = $("#dataForm").serialize();
            $.post(url, params, function (data) {
                layer.msg(data.msg);
                layer.close(mainIndex);
                tableIns.reload();
            })
        }


        //监听行工具事件
        table.on('tool(userTable)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (layEvent === 'del') { //删除
                layer.msg("删除");
                layer.confirm('真的删除行么', function (index) {
                    //layer.close(index);
                    //向服务端发送删除指令
                    $.get(context + "auth/product/changeStatus",
                        {
                            "productId": data.productId,
                            "option": "del"
                        },
                        function (data) {
                            layer.msg(data.msg);
                            tableIns.reload();
                            layer.close(index)
                        }
                    )
                });
            } else if (layEvent === 'edit') { //编辑
                //do something
                layer.msg("修改")
            } else if (layEvent === 'up') { //上架
                $.get(context + "auth/product/changeStatus",
                    {
                        "productId": data.productId,
                        "option": "up"
                    },
                    function (data) {
                        layer.msg(data.msg);
                        tableIns.reload();
                        layer.close(index)
                    }
                )
            } else if (layEvent === 'down') { //下架
                $.get(context + "auth/product/changeStatus",
                    {
                        "productId": data.productId,
                        "option": "down"
                    },
                    function (data) {
                        layer.msg(data.msg);
                        tableIns.reload();
                        layer.close(index)
                    }
                )
            } else if (layEvent === 'viewBigPic') { //下架
                //do something
                layer.msg("查看大图")
            }
        });

            //查看大图
            function showProductImage(data) {
                mainIndex=layer.open({
                    type:1,
                    title:"【"+data.productName+'】的商品图片',
                    content:$("#viewProductImageDiv"),
                    area:['600px','400px'],
                    success:function(index){
                        //$("#view_productimg").attr("src",data.imgAddr);
                        $("#view_productimg").attr("src",context+"auth/file/downloadShowFile?path="+data.imgAddr);
                    }
                });
            }

            //普通图片上传
            var uploadInst = upload.render({
                elem: '#imgAddrDiv',
                url: context+'auth/file/uploadFile',
                acceptMime:'images/*',
                field:"mf",
                done: function(res){
                    //如果上传失败
                    if(res.code > 0){
                        return layer.msg('上传失败');
                    }
                    //上传成功
                    $('#showProductImg').attr('src',context+'auth/file/downloadShowFile?path='+res.data[0].src);
                    $('#imgAddr').val(res.data[0].src);
                    $('#imgAddrDiv').css("background","#fff");
                }
            });

    });
</script>
</body>
</html>